*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Arial, sans-serif;
}


body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    overflow-x:hidden;

    background:#080812;

}



/* Animated background */

.background{

    position:fixed;

    inset:0;

    background:
    radial-gradient(circle at 20% 20%, #8b5cf6, transparent 35%),
    radial-gradient(circle at 80% 80%, #2563eb, transparent 35%),
    radial-gradient(circle at 50% 50%, #f59e0b, transparent 15%),
    #080812;

    animation:
    backgroundMove 15s infinite alternate;

    z-index:-1;

}



@keyframes backgroundMove{

    from{
        transform:scale(1);
    }

    to{
        transform:scale(1.2);
    }

}



/* Main glass card */

.container{

    width:90%;

    max-width:700px;

    padding:50px;

    text-align:center;

    background:
    rgba(255,255,255,0.12);

    border:

    1px solid rgba(255,255,255,.2);

    backdrop-filter:blur(20px);

    border-radius:30px;

    box-shadow:

    0 0 50px rgba(139,92,246,.5);

}



/* Titles */

h1{

    font-size:55px;

    background:

    linear-gradient(
    90deg,
    #fbbf24,
    #fff,
    #a78bfa
    );

    -webkit-background-clip:text;

    color:transparent;

    margin-bottom:20px;

}



p{

    color:#ddd;

    font-size:22px;

    margin-bottom:35px;

}



/* Buttons */

button{

    padding:18px 50px;

    margin:15px;

    border:none;

    border-radius:15px;

    font-size:22px;

    cursor:pointer;

    color:white;

    background:

    linear-gradient(
    135deg,
    #7c3aed,
    #2563eb
    );


    box-shadow:

    0 0 20px rgba(124,58,237,.7);


    transition:.3s;

}



button:hover{

    transform:
    translateY(-5px)
    scale(1.05);


    box-shadow:

    0 0 35px #a78bfa;

}



/* Bingo board */

.bingo{

    display:grid;

    grid-template-columns:
    repeat(5,70px);

    gap:10px;

    justify-content:center;

    margin-top:25px;

}



.header{

    height:60px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    font-weight:bold;

    border-radius:12px;

    background:

    linear-gradient(
    135deg,
    #f59e0b,
    #d97706
    );

    box-shadow:

    0 0 20px rgba(245,158,11,.6);

}



.number{

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;


    background:

    rgba(255,255,255,.95);


    color:#111;

    border-radius:12px;


    font-size:22px;

    font-weight:bold;


    cursor:pointer;


    transition:.25s;

}



.number:hover{

    transform:

    scale(1.12)
    rotate(2deg);

}



.number.selected{

    background:

    linear-gradient(
    135deg,
    #7c3aed,
    #2563eb
    );


    color:white;

    box-shadow:

    0 0 25px #7c3aed;

}



.free{

    background:

    linear-gradient(
    135deg,
    #f59e0b,
    #ef4444
    );


    color:white;

}
